@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #eee;
}

.app-login-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #222;
  background-image: url("../images/blue2.jpg") !important;
  background-position: center center;
  background-attachment: fixed;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog {
  width: 90vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px) brightness(1.2);
  border-radius: 15em 15em 10em 10em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(18, 212, 255, 0.75);
  padding: 0 0 40px;
}
@media (min-width: 992px) {
  .app-login-ui .app-login-dialog-middle .app-login-dialog {
    width: 280px;
  }
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-logo {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 20px rgba(0, 0, 255, 0.5));
  transition-property: filter;
  transition-duration: 500ms;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-logo:hover {
  filter: drop-shadow(0 0 20px rgba(31, 255, 249, 0.5));
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-name {
  font-size: 24pt;
  font-family: "Coda", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1em;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-version-number {
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: 6px;
  right: 50%;
  margin-right: -50px;
  color: rgba(255, 255, 255, 0.25);
  font-family: "Coda", sans-serif;
  font-size: 9pt;
  user-select: none;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-fields {
  margin-bottom: 2em;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field {
  position: relative;
  margin-bottom: 1.25em;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-field-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-field-header label {
  text-align: center;
  font-family: "Coda", sans-serif;
  font-size: 11pt;
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 50%;
  margin-left: -50px;
  user-select: none;
  color: rgba(255, 255, 255, 0.8);
  transition-property: color, font-size, height, line-height, top;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-field-header label.active {
  color: rgba(255, 255, 255, 0.5);
  font-size: 6pt;
  height: 10px;
  line-height: 10px;
  top: -10px;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-text-field, .app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-password-field {
  padding: 0 1em;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-text-field input, .app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-password-field input {
  user-select: none;
  font-size: 11pt;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 4px 8px;
  font-family: "Coda", sans-serif;
  text-align: center;
  color: #eee;
  width: 100%;
  margin: 0 1em 0 0;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  transition-property: border-color, background-color, box-shadow;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-text-field input:hover, .app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-password-field input:hover {
  border-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1);
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-text-field input:focus, .app-login-ui .app-login-dialog-middle .app-login-dialog .app-login-fields .app-labeled-field .app-form-field .app-password-field input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-buttons .app-login, .app-login-ui .app-login-dialog-middle .app-login-dialog .app-buttons .app-continue-login {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 0.25em 1.25em;
  font-family: "Coda", sans-serif;
  text-align: center;
  font-size: 10pt;
  color: #eee;
  margin: 0 0.25em;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  transition-property: border-color, background-color, box-shadow;
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-buttons .app-login:hover, .app-login-ui .app-login-dialog-middle .app-login-dialog .app-buttons .app-continue-login:hover {
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
}
.app-login-ui .app-login-dialog-middle .app-login-dialog .app-buttons .app-login:active, .app-login-ui .app-login-dialog-middle .app-login-dialog .app-buttons .app-continue-login:active {
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

/*# sourceMappingURL=app-styles.css.map */
