@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #eee;
  min-width: 100vw;
  min-height: 100vh;
}

div.login-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #222;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  background-image: url("app/ext/ecumene/images/wall-blue.jpg"), url("../images/wall-blue.jpg") !important;
}
@media (max-width: 992px) {
  div.login-ui {
    background-size: cover;
    background-image: url("app/ext/ecumene/images/wall-blue-vertical.png") !important;
  }
}
div.login-ui #tsparticles {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
div.login-ui .login-dialog-middle {
  z-index: 1000;
}
div.login-ui .login-dialog-middle .login-dialog {
  text-align: center;
  border-radius: 50rem 50rem 35rem 35rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(18, 212, 255, 0.75);
  padding: 0 0 40px;
  width: 280px;
  max-width: 280px;
  background-color: rgba(255, 255, 255, 0.95);
  background-image: url("app/ext/ecumene/images/wall-blue-vertical-blur.png");
  background-size: auto 100vh;
  background-position: center center;
  background-attachment: scroll;
  overflow: hidden;
}
@supports (backdrop-filter: none) {
  div.login-ui .login-dialog-middle .login-dialog {
    background-color: rgba(255, 255, 255, 0.05);
    background-image: none;
    backdrop-filter: blur(20px) brightness(1.2);
  }
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog {
    width: 90vw;
    max-width: 90vw;
  }
}
div.login-ui .login-dialog-middle .login-dialog .app-logo {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(1, 188, 255, 0.9));
  transition-property: filter;
  transition-duration: 500ms;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .app-logo {
    width: 85%;
  }
}
div.login-ui .login-dialog-middle .login-dialog .app-name {
  font-family: "Coda", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  user-select: none;
  font-size: 24pt;
  margin-bottom: 1rem;
  text-transform: none;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .app-name {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
div.login-ui .login-dialog-middle .login-dialog .version-number {
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: 6px;
  right: 50%;
  margin: 0 -50px 0 0;
  padding: 0;
  font-style: normal;
  opacity: 1;
  color: rgba(255, 255, 255, 0.25);
  font-family: "Coda", sans-serif;
  user-select: none;
  font-size: 9pt;
  background: none;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .version-number {
    bottom: 10px;
  }
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .fields {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .login-fields .fields {
    margin-bottom: 4rem;
  }
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field {
  position: relative;
  margin-bottom: 1.25rem;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field {
    margin-bottom: 2.5rem;
  }
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .field-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin: auto;
  overflow: visible;
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .field-header label {
  text-align: center;
  font-family: "Coda", sans-serif;
  font-size: 11pt;
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 50%;
  margin-left: -50px;
  user-select: none;
  color: rgba(255, 255, 255, 0.8);
  transition-property: color, font-size, height, line-height, top;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .field-header label {
    height: 40px;
    line-height: 40px;
  }
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .field-header label.active {
  color: rgba(255, 255, 255, 0.5);
  font-size: 6pt;
  height: 10px;
  line-height: 10px;
  top: -10px;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .field-header label.active {
    font-size: 8pt;
    height: 10px;
    line-height: 10px;
    top: -10px;
  }
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .text-field, div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .password-field {
  padding: 0 1rem;
  overflow-x: hidden;
  height: 30px;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .text-field, div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .password-field {
    height: 40px;
  }
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .text-field input, div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .password-field input {
  user-select: none;
  font-size: 11pt;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.05);
  color: #eee;
  padding: 4px 8px;
  font-family: "Coda", sans-serif;
  text-align: center;
  width: 100%;
  margin: 0 1rem 0 0;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  transition-property: border-color, background-color, box-shadow;
  height: 30px;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .text-field input, div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .password-field input {
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .text-field input:hover, div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .password-field input:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1);
}
div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .text-field input:focus, div.login-ui .login-dialog-middle .login-dialog .login-fields .labeled-field .form-field .password-field input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.14);
}
div.login-ui .login-dialog-middle .login-dialog .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .buttons {
    margin-bottom: 2rem;
  }
}
div.login-ui .login-dialog-middle .login-dialog .buttons .login, div.login-ui .login-dialog-middle .login-dialog .buttons .continue-login {
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.05);
  padding: 0.25rem 1.25rem;
  text-shadow: none;
  min-width: 0;
  font-family: "Coda", sans-serif;
  text-align: center;
  font-size: 10pt;
  color: #eee;
  margin: 0 0.25rem;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  transition-property: border-color, background-color, box-shadow;
  height: 30px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: normal;
}
@media (max-width: 992px) {
  div.login-ui .login-dialog-middle .login-dialog .buttons .login, div.login-ui .login-dialog-middle .login-dialog .buttons .continue-login {
    height: 40px;
    border-radius: 20px;
    padding: 0.25rem 2rem;
    font-size: 10pt;
    text-transform: uppercase;
  }
}
div.login-ui .login-dialog-middle .login-dialog .buttons .login:hover, div.login-ui .login-dialog-middle .login-dialog .buttons .continue-login:hover {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
}
div.login-ui .login-dialog-middle .login-dialog .buttons .login:active, div.login-ui .login-dialog-middle .login-dialog .buttons .continue-login:active {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

/*# sourceMappingURL=app-styles.css.map */
